body{
    font-family: 'Quicksand', sans-serif;
    margin: 60px 80px;
    font-size: 16px;
    padding: 50px;
    background-color: #F2EDE9;
}
#menu{
    background-color:#A7F7E8;
    color:#442F28;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
           
}
h1{
    text-align: center;
    background-color: #F2EDE9;
    color: #442F28;
    font-size: 34px;   
    padding-bottom: 20px 
}
#uvod{
    text-align: centre;
}
h2{
    font-size: 24px;
    text-align: left;
    background-color: #F2EDE9;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #CB9070;
    color: #442F28;
}
#nabidka{
    text-align: left; 
    color: white;
    background-color: #CB9070;
    padding: 20px;
    padding-left: 40px;
    font-size: 18px;
}
h3{
    font-size: 20px;
    border-bottom-style: solid;
    border-color:#D8CBC0;
}
#logo{
    list-style: circle;
    list-style-image: url("kavárna.jpg");
    src: "obrazky/Untitled-Artwork.png";
    alt: logo Dog/Mug; 
    width: 150px; 
    position: right top;
    appearance: scroll;
}
#banner{
    padding-top: 5px;
    padding-bottom: 5px;
}
.lišta{
    float: none;
}
footer{
    background:#AF4D98;
    color: white;
    padding: 20px;
    border-style: solid;
    border-width: medium;
    border-color: #A94993;
}
a:hover{
    color:#FDF9FD;
}
a:visitor{
    color:#491B3E;
}
a:link{
    color:#491B3E;
}
a:active{
    color:white;
}
.flexed-row{
    display: flex;
    flex-direction: row;
}
.flexed-column{
    display: flex;
    flex-direction: column;
}
.spacer{
    flex-grow: 1;
}
.no-wrap{
    flex-wrap: nowrap;
}